$bggray:gray;
$bgorange:orange;
$bdorange:2px solid orange;
$radius50:50%;
$radius20:20px;
$red:red;
$size:2rem;
$fullheight:100%;
$height300:300px;
$fullwidth:100%;
$width300:600px;
$width:80%;
$height:60%;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: $fullwidth;
    height: $fullheight;
    overflow: hidden;
    font-size: 10px;
}

.positionAb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideContainer {
    width: $width;
    height: $height;
    @extend .positionAb;
    border: $bdorange;
    border-radius: $radius20;
    overflow: hidden;
    .slide {
        width: $fullwidth;
        height: $fullheight;
        position: absolute;
        top: 0;
        left: 0;
        border: $bdorange;
        border-radius: $radius20;
        animation: moveOut 2s forwards ease-in-out;
    }
    &>#slide-1 {
        background-image: url(img/bg2.jpg);
        background-color:$bgorange;
        @extend .bgimg;
    }
    &>#slide-2 {
        background-image: url(img/bg2.jpg);
        background-color: $bggray;
        @extend .bgimg;
    }
}

@keyframes moveOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.bgimg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

input[type="radio"] {
    display: none;
}

label[for*="part-1"] {
    width: 50px;
    height: 50px;
    background-color: orangered;
    display: flex;
    align-content: row;
    position: absolute;
    left: 45%;
    top: 12%;
    cursor: pointer;
    border-radius: 50%;
}

#part-1:checked~.slideContainer>#slide-1,
#part-2:checked~.slideContainer>#slide-2 {
    animation: moveIn 2s forwards ease-in-out;
}

@keyframes moveIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

label[for*="part-1"]::before,
label[for*="part-2"]::before {
    content: attr(data-content);
    display: block;
    color: white;
    @extend .positionAb;
    font-size: 2.5rem;
}

label[for*="part-2"] {
    width: 50px;
    height: 50px;
    background-color: orangered;
    display: flex;
    align-content: row;
    position: absolute;
    left: 50%;
    top: 12%;
    cursor: pointer;
    border-radius: 50%;
}